:root {
    --gridbits: 15vh;
    --satup: rgb(255,0,0);
    --satdown: rgb(0,0,0);
    --fullred:rgb(255,0,0);
    --fullyellow:rgb(255,255,0);
    --fullgreen:rgb(0,255,0);
    --fullcyan:rgb(0,255,255);
    --fullblue:rgb(0,0,255);
    --fullmagenta:rgb(255,0,255);
    --chosen: rgb(255,0,0);
    --invChosen: rgb(255,255,0);
    --valdown: rgb(255,0,0);
    --valup: rgb(255,255,255);
}




html {
    user-select: none;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: purple;
}




#fullcont {
    background: lime;
    width: fit-content;
    display:grid;
    grid-template-columns: repeat(8, var(--gridbits));
    grid-template-rows: repeat(5,var(--gridbits));
}

#infobutton{
    box-sizing: content-box;
    margin: 1vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background: orange;
    color: black;
    align-content: center;
    user-select: none;
    grid-row: 5;
    grid-column: 7/ span 2;
}

#infobutton:hover{
    background:purple;
    color: white;
}

#infobutton:active{
    background: white;
    color: black;
}

#satEvent {

    background: linear-gradient(var(--satup), var(--satdown));
    grid-row: 2/ span 4;
    grid-column: 1;
}

#hueEvent {
    background: linear-gradient(to right, var(--fullred), var(--fullyellow), var(--fullgreen), var(--fullcyan), var(--fullblue), var(--fullmagenta));
    grid-row: 1;
    grid-column: 2/ span 4;
    padding: 1vh;
}


#inverse{
    display:flex;
    align-items: center;
    justify-content: center;
    grid-row:1;
    grid-column:1;
    background: var(--invChosen)
}


#infocont{
    background: salmon;
    grid-row: 1/ span 4;
    grid-column: 7/span 2;
}


#valEvent {
    background:linear-gradient(var(--valup), var(--valdown));
    grid-row: 2/span 4;
    grid-column:6;
}
#fullcolor {
    display:flex;
    justify-content: center;
    align-items: center;
    background: var(--chosen);
    grid-row: 2/span 4;
    grid-column: 2/ span 4;

}


#colorprint{
    color: --satdown;
    font-size: 5vh;
    text-align: center;
}

#invColor{
    font-size: medium;
    color: --satdown;
    font-size: 2vh;
    font-weight: bold;
}